@model Vidly_2.ViewModel.CustomerViewModel
@{
    ViewBag.Title = "FormCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name,new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.LastName)
        @Html.TextBoxFor(c => c.Customer.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Birthday)
        @Html.TextBoxFor(c => c.Customer.Birthday, "{0:yyyy-MM-dd}" ,new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipType)
        @Html.DropDownListFor(c => c.Customer.MembershiptypeId, new SelectList(Model.LstMembershipType,"Id","Name"),"Select an item", new { @class = "form-control" })
    </div> 




    @Html.HiddenFor(c => c.Customer.Id)
    <button class="btn btn-primary" type="submit">Save</button>


}