@model IEnumerable<Vidly_2.Models.CustomerModel>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>            
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Plan</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var customer in Model)
            {
            <tr>
                <td>@customer.Id</td>
                <td>@Html.ActionLink(@customer.Name,"Detail","Customer",new { id = @customer.Id },null)</td>
                <td>@customer.LastName</td>                
                <td>@customer.MembershipType.Name</td>                
            </tr>
            }



    </tbody>
 </table>
 

