@model IEnumerable<Vidly_2.Models.CustomerModel>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })

<table class="table table-striped table-hover table-bordered" id="tableCustomer">
    <thead class="thead-dark">
        <tr>            
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Plan</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var customer in Model)
            {
            <tr>
                <td>@customer.Id</td>
                <td>@Html.ActionLink(@customer.Name,"Edit","Customer",new { id = @customer.Id },null)</td>
                <td>@customer.LastName</td>                
                <td>@customer.MembershipType.Name</td>                
                <td>
                    <button data-customer-id="@customer.Id" class="btn btn-link js-btndelete">Delete</button>
                </td>                
            </tr>
            }



    </tbody>
 </table>
 
@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $('#tableCustomer .js-btndelete').on('click', function () {

                var btn = $(this);

                if(confirm('Are you sure you want delete this customer?'))
                {
                    $.ajax({
                        url: '/API/Customer/'+ $(btn).attr('data-customer-id'),
                        method: 'DELETE',
                        success: function (e) {                            

                            if(btn !=null && btn != undefined)
                            btn.parents("tr").remove();

                        }
                    });
                }

            });

        });

    </script>

    }
